<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static 'css/post.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        
    </style>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>id</th>
                <th>sana</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                {% for con in context %}
                <td>{{con.title}}</td>
                <td>{{con.id}}</td>
                <td>{{con.sana}}</td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>